# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#CodeWarrior compilation files
*.args
*.elf
*.map
*.local
*.mk
*.d
*.lst
*.launch
*.xml
